
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Paper Dashboard 2 by Creative Tim</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/cssformemdet.css" />
  </head>

  <body class="">
    <div class="wrapper">
      <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
          <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
              <img src="../assets/img/logo-small.png" />
            </div>
            <!-- <p>CT</p> -->
          </a>
          <a href="./dashboard.html" class="simple-text logo-normal">
            Profile
            <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a href="./dashboard.html">
                <i class="nc-icon nc-bank"></i>
                <p>ዋና ማውጫ</p>
              </a>
            </li>
            <li>
              <a href="./addmember.html">
                <i class="nc-icon nc-simple-add"></i>
                <p>አባላት ይጨምሩ</p>
              </a>
            </li>
            <li class="active">
              <a href="./memberDetail.html">
                <i class="nc-icon nc-badge"></i>
                <p>የአባላት ዝርዝር መረጃ</p>
              </a>
            </li>
            <li>
              <a href="./memberslist.html">
                <i class="nc-icon nc-tile-56"></i>
                <p>የአባላት ዝርዝር</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="javascript:;"
                >የኮተቤ ቃለ ህይወት ቤተ-ክርስትያን፤ የአባላት መረጃ ቋት</a
              >
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navigation"
            >
              <form>
                <div class="input-group no-border">
                  <input
                    type="text"
                    value=""
                    class="form-control"
                    placeholder="መፈለግያ..."
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="nc-icon nc-zoom-split"></i>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="row">
            <div class="col-md-4 sidebarr-wrapper">
              <div class="card card-user">
                <div class="image details-img">
                  <img src="../assets/img/mike.jpg" alt="..." />
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="button-container">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-6 ml-auto">
                        <h5>ID Number</h5>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                        <h5>0254</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card card-user">
                <div class="card-header">
                  <h5 class="card-title">Full Name of Member</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row user-row">
                      <div class="col-md-3 px-1">
                        <label for="sex">ጾታ</label>
                        <select name="sex" id="sex" class="form-control" disabled="">
                          <option value="ሴት">ሴት</option>
                          <option value="ወንድ">ወንድ</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label for="dob">የልደት ቀን *</label>
                        <input
                          type="date"
                          id="dob"
                          name="dob"
                          required
                          class="form-control"
                          value="9/5/1985"
                          disabled=""
                        />
                      </div>
                      <div class="col-md-3 form-check form-check-inline">
                        <span class="handicap">የአካል ጉዳት</span>
                        <label for="yes" class="form-check-label">አዎ</label>
                        <input
                          type="radio"
                          id="yes"
                          name="handicap"
                          value="true"
                          class="form-check-input"
                          disabled=""
                        />
                        <label for="no" class="form-check-label">አይ</label>
                        <input
                          type="radio"
                          id="no"
                          name="handicap"
                          value="false"
                          class="form-check-input"
                          disabled=""
                          checked
                        />
                      </div>
                      <div class="col-md-12">
                        <div id="handicapDescription" class="handicap_desc">
                          <label for="description">የአካል ጉዳት አይነት:</label>
                          <textarea
                            name="description"
                            id="description"
                            class="form-control textarea"
                            maxlength="250"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- address staff -->
                    <div class="row user-raw">
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="subcity">ክፍለ-ከተማ *</label>
                          <select
                            id="subcity"
                            name="subcity"
                            class="form-control"
                            disabled=""
                          >
                            <option value="lemikura">ለሚ ኩራ</option>
                            <!-- Add more options as needed -->
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="district">ወረዳ *</label>
                          <select
                            id="district"
                            name="district"
                            class="form-control"
                            disabled=""
                          >
                            <option value="1">1</option>
                            <!-- Add more options as needed -->
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="house_no">የቤት ቁጥር</label>
                          <input
                            type="text"
                            id="house_no"
                            name="house_no"
                            placeholder="የቤት ቁጥር"
                            maxlength="10"
                            class="form-control"
                            disabled=""
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="other_name">ልዩ መጠርያ *</label>
                          <input
                            type="text"
                            id="other_name"
                            name="other_name"
                            class="form-control"
                            disabled=""
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="countryCode1">ስልክ ቁጥር*</label>
                          <select
                            id="countryCode1"
                            name="countryCode"
                            class="form-control"
                            disabled=""
                          >
                            <option value="eth">+251</option>
                            <!-- Add more options as needed -->
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <span class="phone">
                            <label for="phoneNumber1">ስልክ:</label>
                            <input
                              type="tel"
                              id="phoneNumber1"
                              name="phoneNumber"
                              class="form-control"
                              pattern="[0-9]{9}"
                              disabled=""
                              required
                            />
                            <p class="error-msg" id="phno-err-msg1"></p>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="countryCode2">ስልክ ቁጥር</label>
                          <select
                            id="countryCode2"
                            name="countryCode"
                            class="form-control"
                            disabled=""
                          >
                            <option value="eth">+251</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <span class="phone">
                            <label for="phoneNumber2">ስልክ:</label>
                            <input
                              type="tel"
                              id="phoneNumber2"
                              name="phoneNumber"
                              class="form-control"
                              pattern="[0-9]{9}"
                              disabled=""
                            />
                            <p class="error-msg" id="phno-err-msg2"></p>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>ኢ-ሜይል</label>
                          <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="ኢ-ሜይል"
                            disabled=""
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 pr-1">
                        <div class="form-group">
                          <label for="bap_date">የጥምቀት ቀን </label>
                          <input
                            type="date"
                            name="bap_date"
                            id="bap_date"
                            class="form-control"
                            value="12/14/2003"
                            disabled=""
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-4 px-1">
                        <div class="form-group">
                          <label for="bap_where">የጥምቀት ቦታ</label>
                          <input
                            type="text"
                            name="bap_where"
                            id="bap_where"
                            maxlength="150"
                            class="form-control"
                            value="ኮተቤ ቃለህይወት"
                            disabled=""
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-4 pl-1">
                        <div class="form-group">
                          <label for="mem_date">አባልነት ቀን</label>
                          <input
                            type="date"
                            name="mem_date"
                            id="mem_date"
                            class="form-control"
                            value="12/14/2003"
                            disabled=""
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <span class="service">በቤተ ክርስትያን ውስጥ አሉ?</span>
                          <label for="yesInChurch">አዎ</label>
                          <input
                            type="radio"
                            name="inchurch"
                            value="true"
                            id="yesInChurch"
                            disabled=""
                          />
                          <label for="noInChurch">አይ</label>
                          <input
                            type="radio"
                            name="inchurch"
                            value="false"
                            id="noInChurch"
                            disabled=""
                            checked
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="in_church" id="inChurch">
                            በቤተ ክርስትያን አገልግሎት ውስጥ አሉ?
                            <label
                              >አዎ
                              <input
                                type="radio"
                                name="service"
                                value="true"
                                id="yesService"
                                disabled=""
                              />
                            </label>
                            <label
                              >አይ
                              <input
                                type="radio"
                                name="service"
                                value="false"
                                id="noService"
                                disabled=""
                                checked
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="service_list" id="serviceId">
                            <!-- choice list -->
                            <!-- each one have to have a radio to show whether they are acitve or not -->
                            <div class="singers">
                              <label
                                >ዝማሬ
                                <input
                                  type="checkbox"
                                  name="singer"
                                  class="servWhere1"
                                  disabled=""
                                  checked
                                />
                                <span class="serv_where" id="servWhereId1">
                                  <label
                                    >እያገለገሉ ነው
                                    <input
                                      type="radio"
                                      name="status1"
                                      disabled=""
                                      checked
                                    />
                                  </label>
                                  <label
                                    >እያገለገሉ አይደለም
                                    <input type="radio" name="status1" disabled=""/>
                                  </label>
                                </span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <span class="edu_status">ትምህርት ተምረዋል</span>
                          <label for="yesEdu">አዎ</label>
                          <input
                            type="radio"
                            name="educheck"
                            id="yesEdu"
                            value="true"
                            disabled=""
                            checked
                          />
                          <label for="noEdu">አይ</label>
                          <input
                            type="radio"
                            name="educheck"
                            id="noEdu"
                            value="false"
                            disabled=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row learned" id="learned">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="eduStatusList">የትምህርት ደረጃ</label>
                          <select
                            name="edu_status_list"
                            id="eduStatusList"
                            class="form-control"
                            disabled=""
                          >
                          <option value="masters">ማስተርስ</option>
                            <option value="elementary">የመጀመርያ ደረጃ ትምህርት</option>
                            <option value="highschool">ሁለተኛ ደረጃ ትምህርት</option>
                            <option value="diploma">ዲፕሎማ</option>
                            <option value="certeficate">ሰርተፍኬት</option>
                            <option value="degree">ዲግሪ</option>
                            <option value="phd">ዶክትሬት</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="subOfStudy">የትምህርት ዘርፍ(የምረቃ ፊልድ)*</label>
                          <input
                            type="text"
                            name="sub_of_study"
                            id="subOfStudy"
                            class="form-control"
                            placeholder="የትምህርት ዘርፍ"
                            maxlength="200"
                            value="ሆቴል ማኔጅመንት"
                            disabled=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <span class="workqest"
                            >ስራ አላቸው?
                            <label>
                              አዎ
                              <input
                                type="radio"
                                name="work_stats"
                                value="true"
                                id="yesWork"
                                disabled=""
                                checked
                              />
                            </label>
                            <label>
                              አይ
                              <input
                                type="radio"
                                name="work_stats"
                                value="false"
                                id="noWork"
                                disabled=""
                              />
                            </label>
                            <!-- housewife -->
                            <label>
                              የቤት እመቤት
                              <input
                                type="radio"
                                name="work_stats"
                                value="housewife"
                                disabled=""
                              />
                            </label>
                            <!-- student -->
                            <label>
                              ተማሪ
                              <input
                                type="radio"
                                name="work_stats"
                                value="student"
                                disabled=""
                              />
                            </label>
                            <label>
                              <!-- retiered -->
                              ጡረተኛ
                              <input
                                type="radio"
                                name="work_stats"
                                value="retired"
                                disabled=""
                              />
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row iwork" id="iWork">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>
                            የስራ አይነት
                            <select name="work_type" class="form-control" disabled="">
                              <option value="private">የግል</option>
                              <option value="govt">የመንግስት</option>
                              <option value="no_gov">መንግስታዊ ያልሆነ</option>
                              <option value="church">የቤ/ክ አገልጋይ</option>
                              <option value="ngo">የግል ድርጅት</option>
                              <option value="housemade">የቤት ሰራተኛ</option>
                            </select>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>
                            የስራ ቦታ
                            <input
                              type="text"
                              name="work_place"
                              id="workPlace"
                              maxlength="254"
                              class="form-control"
                              placeholder="የስራ ቦታ"
                              value="ሃይሌ ሪዞርት" disabled=""
                            />
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label
                            >የስራ ሃላፊነት
                            <input
                              type="text"
                              name="responsibility"
                              id="responsiblity"
                              maxlength="254"
                              class="form-control"
                              placeholder="የስራ ሃላፊነት"
                              value="ማናጀር" disabled=""
                            />
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>
                            የሚጠሩበት ፕሮፌሽን
                            <input
                              type="text"
                              name="profession"
                              id="profession"
                              maxlength="254"
                              class="form-control"
                              placeholder="የሚጠሩበት ፕሮፌሽን"
                              value="ማናጀር"
                              disabled=""
                            />
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>
                            ቤ/ክ የምትጠቀምበት ችሎታ
                            <input
                              type="text"
                              name="talent"
                              id="talent"
                              maxlength="254"
                              class="form-control"
                              disabled=""
                              placeholder="ቤ/ክ የምትጠቀምበት ችሎታ"
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <span class="maritialquest">
                            የጋብቻ ሁኔታ *
                            <label>
                              ያገባ
                              <input type="radio" name="mstats" value="true" 
                              disabled=""/>
                            </label>
                            <label>
                              ያላገባ
                              <input
                                type="radio"
                                name="mstats"
                                value="false"
                                disabled=""
                                checked
                              />
                            </label>
                            <label>
                              መበልት
                              <input
                                type="radio"
                                name="mstats"
                                value="widowed"
                                disabled=""
                              />
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">
                          መረጃ አስተካክል
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script
      src="../assets/js/paper-dashboard.min.js?v=2.0.1"
      type="text/javascript"
    ></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
  </body>
</html>
